<%= render partial: "form" %>
<h1>Listing posts</h1>

<% @posts.each do |post| %>
  <%= render partial: "top_post", locals: { post: post } %>
<% end %>
</table>

<br />

<%= link_to 'New Post', ["new", @board, "post"] %>
