= render partial: "form"
%h1 Listing posts

- @posts.each do |post|
  %div{:class => "firstleaf", :id => "#{post.id}"}
    = render partial: "top_post", locals: { post: post }
    = render partial: "child_post", collection: post.posts
    %div{:style => "clear: left; line-height: 0; height: 0"}
